@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

/* ------------------- Colors -------------------
Teal: #01949A
Forest Green: #324B4C
Navy Blue: #004369
Dark Blue: #001737
Light Grey: #9FACBD
Dark Grey: #6C7888
Berry: #642E45
Beige: #F1F1E6
*/

/* --- Hero image at the top of the homepage --- */

/* Large hero imageat the top*/

.hero-image {
    position: relative;
    margin-bottom: 2em;
    /* liner gradient tints the image darker for readability*/
    background-image: linear-gradient( rgba(0,0,0,.2), rgba(0,0,0,.2) ), url(images/Banner_with_DNA_helix.png); 
    height: 450px;
    background-size: cover;
    background-color: #01949A;
    background-position: center center;
    display: flex; /* Change to `display: none` for no hero image */
    justify-content: center;
    align-items: center;
}

.top-text {
  position: relative;
  font-size: 68px;
  padding-bottom: 0.5em;
  text-align: center;
  display: block; /* Change to `display: none` for no top text */
  color: #F1F1E6;
  font-weight: bold;
}

.bottom-text {
  position: relative;
  line-height: 1em;
  font-size: 28px;
  text-align: center;
  display: block; /* Change to `display: none` for no bottom text */
  color: #F1F1E6;
  margin-bottom: 2.5rem;
}

/* ------------- Whole Document ---------------- */

/* Apply the Roboto font to the body's text */
body {
  color: #324B4C;
  font-family: 'Roboto', 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 19px;
  font-weight: normal;
}

/* ------------------- Links ------------------- */
/* Change the appearance of links*/
a {
  color: #01949A;
}

/* Change the appearance of links when hovering over them*/
a:hover {
  color: #004369;
}

/* ------------ Adding white space ------------ */

.title {
  margin-top: 2em !important;
  margin-bottom: 0.75em;
}

/* ---------- Including the ADWG-logo ---------- */
.ADWG-logo {
  margin-top: 20px;
  background-image: url("../images/Logo_with_Initials.png");
  height: 150px;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}


/* Space Between TOC and Righthand side content on large screens */

 @media (min-width: 992px) {
    .col-md-9 {
      width: 75%;
      padding-left: 5em !important;
    }
 }