@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400&display=swap');

/* ------------------- Colors -------------------
Teal: #01949A
Forest Green: #324B4C
Navy Blue: #004369
Dark Blue: #001737
Light Grey: #9FACBD
Dark Grey: #6C7888
Berry: #642E45
Beige: #F1F1E6
*/

/* ------------- Whole Document ---------------- */

/* Apply the Roboto font to the body's text */

body {
  margin: 0;
  padding: 0;
  color: #324B4C;
  font-family: 'Roboto', 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 19px;
  font-weight: normal;
  width: 100%;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
}

html, body, .footerPushDown {
  height: 100%;
}

/* ------------------- Links ------------------- */
/* Change the appearance of links*/
a {
  color: #01949A;
}
/* Change the appearance of links before visiting */
a:link {
  color: #01949A;
}

/* Change the appearance of links after visiting */
a:visited {
  color: #004369;
}

/* Change the appearance of links when hovering over them */
a:hover {
  color: #642E45;
}

/* ------------ Adding white space ------------ */

.title {
  margin-top: 2em !important;
  margin-bottom: 0.75em;
}

/* ---------- Including the ADWG-logo ---------- */
.ADWG-logo {
  margin-top: 20px;
  background-image: url("../images/Logo_with_Initials.png");
  height: 200px;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}


/* --- Hero image at the top of the homepage --- */

/* Large hero image at the top*/

.hero-image {
  background-image: url(images/Banner_with_DNA_helix.jpg); /* The background image */
  background-color: #01949A; /* Used if the background image is unavailable*/
  height: 500px; /* The height of the background image */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: relative;
  margin-bottom: 2em;
  display: flex; /* Change to `display: none` for no hero image */
  justify-content: center;
  align-items: center;
}

.top-text {
  position: relative;
  font-size: 68px;
  padding-bottom: 0.5em;
  text-align: center;
  display: block; /* Change to `display: none` for no top text */
  color: #F1F1E6;
  font-weight: bold;
}

.bottom-text {
  position: relative;
  line-height: 1em;
  font-size: 28px;
  text-align: center;
  display: block; /* Change to `display: none` for no bottom text */
  color: #F1F1E6;
  margin-bottom: 2.5rem;
}

/* ------------ Adjusting the navbar ------------ */

/* Navigantion bar colour*/
.navbar {
  color: #F1F1E6;
  background-color: #001737;
  font-size: 21px;
}

/* Colour of navbar links when hovered*/
.navbar-nav>li>a:hover {
  background-color: #01949A !important;
  color: #F1F1E6;
}

/* Colour of active navbar links*/
.navbar-nav>.active>a {
  background-color: #01949A !important;
  color: #F1F1E6;
}

/* Colour of opened dropdown menu*/
.navbar .navbar-nav>.open>a {
  background-color: #642E45 !important;
  color: #F1F1E6;
}

/* Dropdown menu colour*/
.navbar .dropdown-menu {
  background-color: #004369 !important;
  color: #F1F1E6 !important;
}

/* Dropdown menu hover colour*/
.dropdown-menu>li>a:hover {
  background-color: #01949A !important;
  color: #F1F1E6;
}

/* Dropdown menu link colour*/
.dropdown-menu>li>a {
  color: #F1F1E6;
}

/* Colour of active link in dropdown menu*/
.dropdown-menu>.active>li>a {
  background-color: #01949A !important;
  color: #F1F1E6;
}

/* -------------- Adjusting tables -------------- */

table {
  border-spacing: 20px;
}

th, td {
  text-align: left;
  vertical-align: top;
}

tr {
  border-bottom: 1px solid #004369;
}


/* Adjusting the footer for different screens*/

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (min-width:320px) and (max-width:479px)  { 
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}

/* smartphones, Android phones, landscape iPhone */
@media (min-width:480px) and (max-width:599px)  { 
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width:600px) and (max-width: 800px)  {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
