body {
  margin-bottom: 170px; 
}

.pg-footer {
  font-family: 'Roboto', 'Source Sans Pro', Helvetica, sans-serif;
  float: left;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 20px;
  width: 100%;
  height: 150px;
  padding: 10px 5px;
  max-width: 1200px;
}
.footer {
  background-color: #001737;
  color: #F1F1E6;
  font-size: 17px;
  font-weight: 100;
}

.footer-wave-svg {
  background-color: transparent;
  display: block;
  height: 30px;
  position: relative;
  top: -1px;
  width: 100%;
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  padding: 30px 15px 40px;
  position: relative;
  display: flex;
}

.footer-content-column{
  box-sizing: border-box;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  color: #F1F1E6;
}

.footer-content-column ul li a{
  color: #F1F1E6;
  text-decoration: none;
}

.footer-logo-link {
  display: inline-block;
}

.footer-menu {
  margin-top: 30px;
}

.footer-menu-name {
  color: #01949A;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: .1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}
.footer-menu-list li{
  margin-top: 5px;
}

.footer-contact-button {
  background-color: #01949A;
  border-radius: 20px;
  color: #F1F1E6;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .1em;
  line-height: 20px;
  padding: 12px 30px;
  margin: 0 10px 10px 0;
  text-decoration: none;
}

.footer-contact-button:link{
  color: #F1F1E6;
  text-decoration: none;
}

.footer-contact-button:hover{
  background-color: #F1F1E6;
  color: #001737;
}

.footer-adress {
  line-height: 1;
  margin-top: 30px;
}

.footer-copyright {
  background-color: #004369;
  color: #F1F1E6;
  padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.footer-copyright-text {
  color: #F1F1E6;
  font-size: 15px;
  font-weight: 100;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-copyright-link {
  color: #F1F1E6;
  text-decoration: none;
}
.footer-copyright-link:link {
  color: #F1F1E6;
  text-decoration: none;
}

.footer-copyright-link:hover {
  color: #F1F1E6;
  text-decoration: none;
}